@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap");
@font-face {
  font-family: "Futura PT light";
  src: url("../FuturaPT/FuturaPTLight.otf");
}
@font-face {
  font-family: "Futura PT light";
  src: url("");
}

/*-------------------------ECRAN TEL (-1200px de large)---------------------------------*/
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  min-width: 200px;
}
header {
  list-style: none;
  text-decoration: none;
  margin-top: 0;
}
h3 {
  list-style: none;
  text-decoration: none;
  margin-top: 32px;
  font-family: "Spartan", "Futura PT light";
  font-size: 15px;
  letter-spacing: 2px;
  color: black;
  background-color: none;
}
h1,
.a-Menu {
  margin-top: 51px;
  font-family: "Bebas Neue", "Zen Tokyo Zoo", sans-serif;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}
.menu-non-resp {
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 70px;
}

section {
  margin-left: 3.39vh;
  margin-right: 3.39vh;

  text-align: left;
}

section h4 {
  font-family: "Spartan", "Futura PT light";
  font-size: 3vh;
  font-weight: 500;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
  font-weight: 500;
  margin-bottom: 8vh;
}
h5 {
  font-family: "Spartan", "Futura PT light";
  font-size: 2.3vh;
  font-weight: 500;
  margin-bottom: 15px;
}
h6 {
  margin-top: 15px;
  font-family: "Spartan", "Futura PT light";
  font-size: 2vh;
  font-weight: 500;
  margin-bottom: 5px;
}
#h7 {
  margin-top: 5px;
  font-family: "Spartan", "Futura PT light";
  font-size: 1.5vh;
  font-weight: 500;
}

/*---------------------------------------------*/
img {
  height: 100%;
  width: 90%;

  background-color: #f9f9f9;
  border: none;
  border: 0px #f9f9f9;
}

footer .h4 {
  margin-top: 90px;
  margin-bottom: 90px;
  font-family: "Spartan", "Futura PT light";
  font-weight: 200;
}

/*-------------------------ECRAN PC (+1200px de large)---------------------------------*/
/*  @media screen and (min-width: 1200px) { */
@media screen and (min-width: 750px) {
  body {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
  .menu-resp {
    opacity: 0;
    position: absolute;
    top: -1000px;
    left: -1000px;
  }
  .menu-non-resp {
    margin-top: 126px;
    opacity: 1;
    position: static;
  }
  .menu-non-resp {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
  }
  .left-grid {
    grid-area: left;
  }
  .right-grid {
    grid-area: right;
  }
  .menu-non-resp h1 {
    text-align: left;
    position: relative;
    margin-top: 0;
    /* font-family: "Bebas Neue", "Zen Tokyo Zoo", sans-serif; */
    font-family: "Zen Tokyo Zoo", sans-serif;
    margin-bottom: 0;
  }
  .menu-non-resp h2 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 70px;
  }
  .menu-non-resp h3 {
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin-top: 0px;
    font-family: "Spartan", "Futura PT light";
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
  }

  section {
    margin-left: auto;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    gap: 5vh;
  }
  .left-grid {
    grid-area: left;
  }
  header {
    list-style: none;
    text-decoration: none;
    margin-top: 0;
  }
  h3 {
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin-top: 126px;
    font-family: "Spartan", "Futura PT light";
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
  }
  h1,
  .a-Menu {
    text-align: left;
    list-style: none;
    text-decoration: none;
    position: relative;
    top: 0;
    left: 0;
    /* font-family: "Bebas Neue", "Zen Tokyo Zoo", sans-serif; */
    font-family: "Bebas Neue", "Zen Tokyo Zoo", sans-serif;
    font-family: "Zen Tokyo Zoo", sans-serif;

    margin-bottom: 0;
    color: black;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 70px;
  }
  img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  .bloc-right {
    grid-area: right;
  }
  footer h4 {
    text-align: right;
    margin-top: 90px;
    margin-bottom: 90px;

    font-family: "Spartan", "Futura PT light";
    font-weight: 500;
  }
}
